@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer base {
    h1 {
        @apply uppercase text-[3.5rem] leading-[3.625rem] tracking-[2px] font-bold;
    }

    h2 {
        @apply uppercase text-[2.5rem] leading-[2.625rem] tracking-[1.4px] font-bold;
    }

    h3 {
        @apply uppercase text-[2rem] leading-[2.25rem] tracking-[1.4px] font-bold;
    }

    h4 {
        @apply uppercase text-[1.75rem] tracking-[2px] font-bold;
    }

    h5 {
        @apply uppercase text-2xl tracking-[1.7px] font-bold;
    }

    h6 {
        @apply uppercase text-lg tracking-[1.29px] font-bold;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
